node_modules/
dist/
android/.gradle/
android/build/
android/app/build/
android/captures/
android/local.properties
*.apk
*.aab
*.keystore
.env
.v3/

# Python
backend/venv/
backend/__pycache__/
__pycache__/
*.pyc
